# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\学习\毕业设计\方案1_GFX+底板\手机APP\Socket插件\App-Inventor-Extensions-master\new_tests\socket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
